<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998694748532-pcnim9vc8eh6eo7mmetkuehuu9jp74f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998694748532-pcnim9vc8eh6eo7mmetkuehuu9jp74f6</string>
	<key>API_KEY</key>
	<string>AIzaSyAXHzWERNs0NptvjEhT4qgXj82fX_SMQds</string>
	<key>GCM_SENDER_ID</key>
	<string>998694748532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kh.com.pada.rawg.dev</string>
	<key>PROJECT_ID</key>
	<string>zakuska-snack</string>
	<key>STORAGE_BUCKET</key>
	<string>zakuska-snack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998694748532:ios:d4b68f421a01f67d1bac21</string>
	<key>DATABASE_URL</key>
	<string>https://zakuska-snack.firebaseio.com</string>
</dict>
</plist>